.friends {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/*.item {
  display: flex;
  align-items: center;
  width: 360px;
  height: 130px;
  margin-bottom: 15px;
  border: 1px solid #adabab;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px #adff2f;
}*/
.avatar {
  width: 100px;
  height: 110px;
  background-color: #858585;
  border-radius: 60%;
  border: 1px solid #f8c15a;
}
.status {
  margin: 15px;
  font-size: 55px;
}
.name {
  margin-left: 18px;
  font-size: 28px;
  font-weight: 500;
}
ul {
  list-style: none;
}
